<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Hello World!</h1> </br>
    <h2 data-th-text="${greetings}"></h2>
    </br>
    <form method="post" action="/">
        <label for="newmsg">New Message: </label>
        <input type="text" id="newmsg" name="newmsg" />
        <button type="submit">Submit</button>
    </form>
</body>

</html>